body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-top{
  display: flex;
  justify-content: space-around;

}

.top-component{
  display: block;
  /* justify-content: space-around; */
}


.card-list{
  display: grid;
  grid-template-columns: repeat(4, minmax(150px, 1fr));
  grid-gap: 5px;
  /* flex-wrap: wrap;
  justify-content: space-between; */
  animation: slide-in 0.7s ease-in-out both;
}

.card{
  padding: 15px;
  border: solid burlywood 10px;
  border-radius: 15px;
  /* animation: slide-in 0.7s both; */
  /* animation: rotate 0.7s ease-in-out both; */
  display: flex;
  justify-content: center;
}

/* .player-portrait{
  background-position: center;
} */


@keyframes slide-in {
  0% {
    transform: translateY(-1000px);
  }
  100% {
    transform: translateY(0);
  }
}


@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width :400px) {
  .card-list{
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    grid-gap: 5px;
  }
}